* {
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: block;
    width: 100%;
}
.grid.wide {
    display: block;
    max-width: 1200px;
    margin: 0px auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px; 
}
.col {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
}
.s-0 {
    display: none;
}
.s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.s-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.s-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.s-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.s-12 {
    flex: 0 0 100%;
    max-width: 100%;
}




/* ----------------------------Tablet and mobile--------------------------------- */
/* Tablet and mobile */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
    }
    .m-0 {
        display: none;
    }
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* ----------------------------------Pc-low-------------------------------------- */
/* Pc-low */
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .col {
        display: block;
        padding-left: 12px;
        padding-right: 12px;
    }
    .l-0 {
        display: none;
    }
    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* ----------------------------------PC-L--------------------------------------- */
/* Mobile */
@media only screen and (min-width: 1240px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .col {
        display: block;
        padding-left: 12px;
        padding-right: 12px;
    }
    .xl-0 {
        display: none;
    }
    .xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}







